<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/user_icon.jpg" alt="User" />
      <p>Admin</p>
    </div>
    <mat-divider></mat-divider>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/login">

      <mat-icon>dashboard</mat-icon>

    </a> -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/manager-dashboard">
      <mat-icon>dashboard</mat-icon> Manager Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/recruitment-dashboard">
      <mat-icon>dashboard</mat-icon> Recruitment Dashboard
    </a>
   
  </mat-nav-list>
  