<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Dashboard</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center">
        <h1>Skills</h1>
      <div class="example-header">
          
      </div>  
      <div class="example-container mat-elevation-z8">
        
        <mat-table [dataSource]="dataSource" matSort>
        <!-- PROJECT NAME Column -->
          <ng-container matColumnDef="projectName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Project Name</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.projectName}} </mat-cell>
          </ng-container>

          <!-- AUTOMATION Column -->
         <ng-container matColumnDef="automationTesting">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Automation </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.automationTesting}} </mat-cell>
         </ng-container>
     <!--TESTING Column -->
     <ng-container matColumnDef="manualTesting">
      <mat-header-cell *matHeaderCellDef mat-sort-header>MANUAL </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.manualTesting}} </mat-cell>
    </ng-container>

    <!-- PHP Column -->
    <ng-container matColumnDef="php">
      <mat-header-cell *matHeaderCellDef mat-sort-header> PHP </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.php}} </mat-cell>
    </ng-container>

    <!-- SAC Column -->
    <ng-container matColumnDef="sac">
      <mat-header-cell *matHeaderCellDef mat-sort-header>SAC </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.sac}} </mat-cell>
    </ng-container>
	
	 <!-- BA Column -->

    <ng-container matColumnDef="ba">

      <mat-header-cell *matHeaderCellDef mat-sort-header>BA </mat-header-cell>

      <mat-cell *matCellDef="let row" > {{row.ba}} </mat-cell>

    </ng-container>

    <!-- SCRUM Column -->

    <ng-container matColumnDef="scrum">

      <mat-header-cell *matHeaderCellDef mat-sort-header>SCRUM </mat-header-cell>

      <mat-cell *matCellDef="let row" > {{row.scrum}} </mat-cell>

    </ng-container>

    <!-- CICD Column -->

    <ng-container matColumnDef="cicd">

      <mat-header-cell *matHeaderCellDef mat-sort-header>CICD </mat-header-cell>

      <mat-cell *matCellDef="let row" > {{row.cicd}} </mat-cell>

    </ng-container>
   

    <!-- UNIX Column -->

    <ng-container matColumnDef="unix">

      <mat-header-cell *matHeaderCellDef mat-sort-header>UNIX </mat-header-cell>

      <mat-cell *matCellDef="let row" > {{row.unix}} </mat-cell>

    </ng-container>

    <!-- KAFKA Column -->

    <ng-container matColumnDef="kafka">

      <mat-header-cell *matHeaderCellDef mat-sort-header>KAFKA </mat-header-cell>

      <mat-cell *matCellDef="let row" > {{row.kafka}} </mat-cell>

    </ng-container>

                   
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
      </mat-table> 
      
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>

   

      </div>
      
    </div>
  </div>
  