<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Dashboard</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center">
        <h1>Skills</h1>
      <div class="example-header">
          
      </div>  
      <div class="example-container mat-elevation-z8">
        
        <mat-table [dataSource]="dataSource" matSort>
        
          <ng-container matColumnDef="A">
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.A}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="project_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Project Name</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.project_name}} </mat-cell>
          </ng-container>

          <!-- S. No Column -->
         <ng-container matColumnDef="automation_testing">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Automation </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.automation_testing}} </mat-cell>
            
          </ng-container>
     <!-- Phone Column -->
     <ng-container matColumnDef="manual_testing">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Testing </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.manual_testing}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="php">
      <mat-header-cell *matHeaderCellDef mat-sort-header> PHP </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.php}} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="sac">
      <mat-header-cell *matHeaderCellDef mat-sort-header>SAC </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.sac}} </mat-cell>
    </ng-container>


                   
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
      </mat-table> 
      
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>

   

      </div>
      
    </div>
  </div>
  